[submodule "dependencies/catch-adapter"]
	path = dependencies/catch-adapter
	url = https://github.com/njoy/catch-adapter.git
[submodule "dependencies/range-v3-adapter"]
	path = dependencies/range-v3-adapter
	url = https://github.com/njoy/range-v3-adapter
[submodule "dependencies/ENDFtk"]
	path = dependencies/ENDFtk
	url = https://github.com/njoy/ENDFtk
